
.content {
    background-color: rgb(244, 239, 194);
    border: 3px solid rgb(10, 126, 45);
    border-style: ridge;
    padding: 90px;
    display: flex;
    flex-wrap: wrap;
    overflow-x: scroll;
    gap: 20px;
   
    
}
figure {
    margin: 0;
    border: 6px black;
    position: relative;
    width: auto;
    height: 100%;
    max-width: 100%;

}
#text {
    width: 200px;
    min-width: 100px
}

.content img{
     width: 300px;
     border: 1px ridge blue;
}
.content video{
    width: 200px;
}
figcaption {
    font-family: cursive;
    font-size: 12px;
    text-align: center;
    margin-top: 5px;
}
html {
     background-color: rgb(180, 233, 244);
}
.header { 
    top: 0;
    left: 0;
    width: 100vw;
    height: 2vh;
    position: sticky;
    background-color: rgb(183, 149, 250);
    color: white;
    text-align: center;
    padding: 20px;
   
}
@media (max-width: 600px){
    .content{
        display: flex;
        flex-direction: column-reverse;
}}