
body {
	margin: 0;
	height: 100vh;
}

p {
	margin: 0;
}

.Container {
	position: fixed;
	width: 100%;
	height: 100vh;
	display: flex;
	border: 2px solid white;
	
}
#Container {
	width: 100%;
	height: 100vh;
	display: flex;
	border: 2px solid white;
}

.Info {
	position: absolute;
	border: 2px solid white;
	left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
	font-family: 'Bonbon';
	color: rgb(246, 15, 15);
	z-index: 2;
}

canvas {
	display: block;
	width: 100%;
	height: 25%;
	border: 2px solid rgb(225, 60, 60);
}
@font-face {
	font-family: 'Bonbon';
	src: url(./Bonbon-Regular.ttf);
}
.ground {
	position: fixed;
	bottom: 0;
	height: 20vh;
}
.sun {
    position: relative;
    bottom: 0%;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    left: 50%;
    transform: translate(-50%, 100px);
    transition: 2s bottom;
}
.sunflowerone {
	width: 200px;
	position: relative;
	translate: (-25%, 400px);
	
}
#sun {
    position: absolute;
    width: 30px;
    height: 30px;
    border-radius: 50%;
	background-color: yellow;
  }