/*DESKTOP*/
@media only screen and (min-width: 481px) {
body {
    margin: 0;
    padding: 0;
    background: url('./aiboat2.png') no-repeat center center fixed;
    background-size: cover;
    overflow: hidden;
}

h1 {
    color: greenyellow;
    text-align: center;
    font-family: 'Fine Blackboard';
    font-size: 7rem;
    position: relative;
    text-decoration: none;
    
    
}
.Nav {
  position: fixed;
  top: 10px;
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  right: 10px;
}

.popup-box {
    position: absolute;
    background-color: rgb(234, 212, 212);
    border: 1px solid #ccc;
    padding: 10px;

    z-index: 1000; 
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

.draggable {
    position: absolute;
    cursor: grab;
    z-index: 2; 
}
.container img { 
    width: 70px;
    z-index: 2;
}

.container {
    position: relative;
    width: 100%;
    overflow: hidden;
    z-index: 2;
    height: 100vh;
}
#container {
    position: relative;
    width: 100%;
    height: 100vh;
    border: 1px solid rgb(233, 11, 11);
    overflow: hidden;
}

.draggable {
    position: absolute;
    cursor: pointer;
}

#small-box {
    position: absolute;
    width: 400px;
    height: 400px; 
    background-color: rgba(0, 0, 0, 0.2);
    border: 2px dashed rgb(61, 227, 103);
    left: 90px;
    right: 90px;
    margin: auto; 
    top: 0;
    
}
footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: auto;
  }
  

  .carousel {
    white-space: nowrap; 
    overflow: hidden; 
  }
  

  .carousel img {
    width: 100%; 
    display: inline-block;
    vertical-align: middle; 
  }
  
  
  @keyframes scroll {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-100%);
    }
  }
  
  .carousel img {
    animation: scroll 20s linear infinite; 
  }
}
/*FONTS*/
@font-face {
    font-family: 'Fuggles';
    src: url(./Fuggles/Fuggles-Regular.ttf);
    
}
@font-face {
    font-family: 'Fiddums';
    src: url(./fiddums-family/Fiddums\ Family.ttf);
  }
  @font-face {
    font-family: 'Fine Blackboard';
    src: url(./fine-blackboard/Fine\ Blackboard.ttf);
    
}
@font-face {
    font-family: 'Fiddums';
    src: url(./fiddums-family/Fiddums\ Family.ttf);
  }

/*IPHONE*/
@media only screen 
  and (min-device-width: 0) 
  and (max-device-width: 480px)
  and (-webkit-min-device-pixel-ratio: 2) {


    body {
        margin: 0;
        padding: 0;
        background: url('./aiboat2.png') no-repeat fixed;
        background-size: contain;
        background-color: rgb(136, 191, 213);
    }
    
    h1 {
        color: greenyellow;
        text-align: center;
        font-family: 'Fine Blackboard';
        font-size: 100px;
        position: relative;
        
    }
    
    .popup-box {
        position: absolute;
        background-color: rgb(234, 212, 212);
        border: 1px solid #ccc;
        padding: 10px;
        width: 50vw;
        height: 25vh;
        z-index: 1000; 
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-size: 20px;
        overflow: scroll;
    }
    
    .draggable {
        position: absolute;
        cursor: grab;
        z-index: 2; 
    }
    .container img { 
        width: 50px;
        z-index: 2;
    }
    .container {
        position: relative;
        width: 100%;
        overflow: hidden;
        z-index: 2;
        height: 100vh;
    }
    #container {
        position: relative;
        width: 100%;
        height: 100vh;
        border: 1px solid rgb(233, 11, 11);
        overflow: hidden;
    }
    
    .draggable {
        position: absolute;
        cursor: pointer;
    }
    
    #small-box {
        position: absolute;
        width: 75vw; 
        height: 40vh; 
        background-color: rgba(0, 0, 0, 0.2);
        border: 2px dashed rgb(61, 227, 103);
        margin: auto; 
        left: 50px;
        top: 0px;
        
        
    }
    footer {
        position: fixed;
        bottom: 0;
        left: 0;
        width: 100%;
        height: auto;
      }
      
      .carousel {
        white-space: nowrap; 
        overflow: hidden; 
        bottom: 0;
      }
      .Nav {
        position: fixed;
        top: 10px;
        font-family: Arial, Helvetica, sans-serif;
        color: white;
        right: 10px;
    }
     
      .carousel img {
        width: auto; 
        height: 80vh;
        position: fixed;
        bottom: 0;
        display: inline-block;
        vertical-align: middle; 
        animation: scroll 20s linear infinite; 
      }
      
      
      @keyframes scroll {
        0% {
          transform: translateX(0);
        }
        100% {
          transform: translateX(-100%);
        }
      }
      
      
    
    }