@media only screen and (min-width: 481px) {
h1{ 
  color: white;
  text-align: center;
  font-family: 'Fiddums';
  text-decoration: none;
  font-size: 70px;
}
.heading-box {
    position: relative;
    border: 2px solid black;
    position: relative;
    margin: 50px 50px 50px 50px;

}
/*TABLE*/
table {
  margin: 50px 50px 50px 50px;
  filter: blur(.00rem);
  border-collapse: collapse;
  
}
th, td {
  text-align: left;
  background-size: cover;
}
th {
  color: rgb(18, 12, 12);
  font-family: 'Volutes';
  text-align: center;
  font-size: 40px;
  border: 3px solid black;

}
td { 
  font-family: 'Volutes';
  text-align: center;
  border: 1px solid black;
  text-decoration: underline;
}
}
/*FONTS*/

@font-face {
  font-family: 'Volutes';
  src: url(./Volutes/Volutes.ttf);
}
@font-face {
  font-family: 'Fiddums';
  src: url(./fiddums-family/Fiddums\ Family.ttf);

  
}
/*IPHONE*/
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 480px)
  and (-webkit-min-device-pixel-ratio: 2) {
    h1{ 
      color: white;
      text-align: center;
      font-family: 'Fiddums';
      text-decoration: none;
      font-size: 70px;
    }
    .heading-box {
        position: relative;
        border: 2px solid black;
        position: relative;
    
    }
    /*TABLE*/
    table {
      filter: blur(.00rem); 
    }
    .table-container { 
      max-width: calc(100% - 0px); /* Adjust the 20px according to your design */
      margin: 0 auto; /* Center the table horizontally */
      overflow-x: auto; /* Enable horizontal scrolling if necessary */
      display: block; /* Ensure the container behaves as a block element */
      margin-top: 50px;
    }

    th, td {
      text-align: left;
      background-size: cover;
      white-space: nowrap;
    }
    th {
      color: rgb(18, 12, 12);
      font-family: 'Volutes';
      text-align: center;
      font-size: 40px;
      border: 1px solid black;
    
    }
    td { 
      font-family: 'Volutes';
      text-align: center;
      border: 2px solid black;
      text-decoration: underline;
    }
  }