
body {
	margin: 0;
}

p {
	margin: 0;
}

.Container {
	position: fixed;
	width: 100%;
	height: 100vh;
	display: flex;
	
}

.Info {
	position: absolute;

}

canvas {
	display: block;
	width: 100%;
	height: auto;
}