html {
  background-image: url(./ffflux2.svg);
  background-size: 100%;
    filter: contrast(65%);
    filter: brightness(79%);
   
}
table {
  margin: 50px 50px 50px 50px;
  filter: blur(.02rem);
  
}
th, td {
  text-align: left;
  padding: 8px;
 background-size: cover;
}
th {
  color: white;
  font-family: cursive;
  text-align: center;

}
h1{ 
  color: white;
  text-align: center;
  font-family: cursive;
  text-decoration: none;
}
td { 
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  text-align: center;
  border: 2px solid black;
}
.heading-box {
    position: relative;
    border: 2px solid rgb(242, 232, 192);
    position: relative;
    margin: 50px 50px 50px 50px;

}