html {
    background-image: url(./boat2\ copy.jpg);
    background-repeat: repeat;
    filter: contrast(65%);
    filter: brightness(78%);
}
table {
  border-collapse: collapse;
  margin: 50px 50px 50px 50px;
  background-image: url(./bg.jpg);
  
}
th, td {
  text-align: left;
  padding: 8px;
}
th {
  background-color: tan;
  color: white;
  font-family: cursive;
  text-align: center;
}
h1{ 
  color: white;
  text-align: center;
  font-family: cursive;
  
}
td { 
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  filter: blur(.02rem);
  text-align: center;
}